.monitoring__container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    background: rgb(41, 79, 141);
    ;
}

canvas.changes__over__time__graph {
    width: 10% !important;
}

.monitoring__graphs {
    display: flex;
    width: 20%;
}

.monitoring__graphs>* {
    width: 20%;
    margin: 0 auto;
}